# dépendances Node
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# fichiers système
.DS_Store
Thumbs.db

# variables d'environnement
.env
.env.local

# fichiers temporaires
tmp/
temp/

# cache
.cache/

# dossier build (si projet frontend associé)
dist/
build/

# port utilisé (optionnel)
.port

# IDE
.vscode/
.idea/

# coverage tests
coverage/