.interface {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    gap : 15px;
}

.interface .Formulaire{
    height: auto;
    width: 50%;
    background-color: aqua;
}

.interface .Affichage{
    height: auto;
    width: 50%;
    background-color: lightgreen;
}