.delete-btn {
  position: relative;
  display: inline-flex;
  width: auto;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ef4444;
  background-color: #ef4444;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-right: 45px; /*Décalage pour laisser de la place à l'icône */
}

/* Texte */
.delete-btn-text {
  color: white;
  font-weight: 600;
  margin: 0px 5px 0px 5px;
  transition: transform 0.3s ease;
}

/* Icône */
.delete-btn-icon {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  background-color: #dc2626;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.delete-btn-icon svg {
    fill: white;
}

/* Animation hover */
.delete-btn:hover .delete-btn-text {
  transform: translateX(80px);
}

.delete-btn:hover .delete-btn-icon {
  width: 100%;
}

/* Effet clic */
.delete-btn:active {
  background-color: #b91c1c;
}